:root {
  --text-color-initial: navy;
  --text-color-final: red;
}

body > * {
  border: 1px solid black;
  margin: 10px 0px;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(190, 237, 237, 1);
  -moz-box-shadow: 0px 0px 5px 2px rgba(190, 237, 237, 1);
  box-shadow: 0px 0px 5px 2px rgba(190, 237, 237, 1);
  box-sizing: border-box;
}

/* Header */

header {
  /* Specyfikacja wyglądu */
  width: 100%;
}

header h1 {
  font-weight: bolder;
  font-size: 35px;
  margin-left: 10px;
}

/* Nav */

nav {
  width: 100%;
  /* Specyfikacja wyglądu */
}

nav ul {
  /* Specyfikacja wyglądu */
}

nav li {
  /* Specyfikacja wyglądu */
}

/* Aside  */

aside {
  /* Specyfikacja wyglądu */
  width: 100%;
  padding: 10px;
}

aside h1,
h2 {
  font-size: 35px;
  margin: 0;
}

aside li {
  font-size: 20px;
}

/* Main */

main {
  /* Specyfikacja wyglądu */
  width: 100%;
  padding: 10px;
}

main h1 {
  font-size: 35px;
  font-weight: bold;
}

blockquote {
  margin: 0;
  padding: 0;
}

pre {
  padding: 0;
  margin: 0;
  white-space: pre-line;
  line-height: 1.5em;
}

/* Footer */

footer {
  /* Specyfikacja wyglądu */
  width: 100%;
  top: 0;
  float: left;
  padding: 10px;
}

.azure {
  background-color: azure;
}

@keyframes change-color {
  0% {
    color: var(--text-color-initial);
  }
  100% {
    color: var(--text-color-final);
  }
}

.animate-color {
  animation: change-color 0.5s infinite alternate;
}

@media (min-width: 1250px) {
  /* … */
  aside {
    /* Specyfikacja wyglądu */
    float: right;
    width: 50%;
    padding: 10px;
  }

  main {
    float: left;
    width: 40%;
    padding: 10px;
    /* display: block; */
    /* Specyfikacja wyglądu */
  }

  footer {
    /* Specyfikacja wyglądu */
    width: 100%;
    top: 0;
    float: left;
    padding: 10px;
  }

  body {
    margin: 10px;
  }
}
